*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.backcontainer{
    background: -webkit-linear-gradient(rgb(10, 0, 10), rgba(253, 4, 241, 0.815));
}
header{
    width: 100%;
    height: 100%;
    padding: 4%;
}
#containers{
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(rgb(8, 11, 32),rgba(29, 1, 27, 0.815));
}
.logo{
    color: white;
}
nav{
    flex: 1;
    text-align: center;
    margin: 0;
}
nav ul{
    display: flex;
    text-align: justify;
    justify-content: space-between;

}
.name h1{
    margin-left: 40px;
    margin-top: 12px;
    font-family: 'Segoe UI';
    font-size: 2rem;
    box-shadow: 3px 3px white;
    border-radius: 9px;
}
nav ul li{
    list-style: none;
    margin: 0;
    padding: 1%;
}
nav ul li a{
    color: white;
    font-family: 'Segoe UI';
    font-size: 1.2rem;
    text-decoration: none;
}
button{
    margin-top: 12px;
    margin-right: 30px;
    font-size: large;
    padding: 8px;
    box-shadow: 3px 3px white;
}
li a:hover{
    background: linear-gradient(to left,rgb(98, 12, 98),rgb(250, 246, 246));
    transform: scale();
    font-weight: bold;
    padding: 20px;
    font-size: 1rem;
    border-radius: 8px;
    transition: all ease-in-out 0.3s;
    color: white;
}
.burger img{
    width: 10%;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    margin: 3%;
    gap: 50px;
}
.text{
    height: 100%;
    width: 80%;
}
.hero-text h1{
    color: white;
    font-size: 7rem;
}
.hero-text h1 span{
    font-size: 8rem;
    background: -webkit-linear-gradient(rgb(255, 7, 218), rgb(226, 229, 224));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.hero-text p{
    color: white;
    font-size: 1.2rem;
    font-family: 'Segoe UI';
}
.hero-img{
    grid-column: span 1;
}
.hero-img img{
    width: 100%;
    height: 70%;
}
.hero-img img:hover{
    transition-property: transform,background-colour,box-shadow,border-radius;
    transition-duration: 2s;
    padding: 2%;
}
@media only screen and (max-width:991px){
    nav ul{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        background-color: aqua;
        max-width: 350px;
        overflow-x: auto;
        padding-bottom: 300px;
        transition: all 0.3s ease ease-in-out;
    }
    
}
